# Ignoruj katalogi generowane przez narzędzia budowania i kompilacji
/target/
/bin/
/build/

# Ignoruj pliki kompilowane .class
*.class

# Ignoruj pliki wygenerowane przez IDE
/.idea/
/.vscode/

# Ignoruj pliki konfiguracyjne
/application.properties
/application.yml

# Ignoruj pliki dzienników (logów)
/logs/

# Ignoruj pliki tymczasowe
*.log
*.swp

# Ignoruj katalog docelowy (jeśli używasz Apache Maven)
/mvnw
/mvnw.cmd
/.mvn/

# Ignoruj pliki dołączone przez systemy śledzenia wersji (np. Eclipse)
.project
.classpath

# Ignoruj pliki dołączone przez systemy śledzenia wersji (np. IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr

# Ignoruj pliki dołączone przez systemy śledzenia wersji (np. NetBeans)
/nb-configuration.xml

# Ignoruj pliki dołączone przez systemy śledzenia wersji (np. Visual Studio Code)
.vscode/
